---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
    <h2>Σχεδίαση και ανάλυση συστημάτων υλικο-λογισμικού</h2>
    <p>
Μαθησιακά αποτελέσματα:
	</p>
	<ul>
<li>
Κατανοεί βασικές έννοιες διάχυτου υπολογισμού
</li>
<li>
Εκτιμά την κρισιμότητα αντιμετώπισης θεμάτων ιδιωτικότητας στο διάχυτο υπολογισμό
</li>
<li>
Κατανοεί τις τεχνολογίες εντοπισμού θέσης
</li>
<li>
Κατανοεί τις τεχνικές σύντηξης δεδομένων από πολλαπλούς αισθητήρες
</li>
<li>
Κατανοεί τον ρόλο των κατανεμημένων συστημάτων (ΚΣ) και του μεσολογισμικού στα ΣΔΥ
</li>
<li>
Αναγνωρίζει εξειδικευμένα θέματα των ΚΣ (μοντέλα συστήματος, επικοινωνία διεργασιών, λειτουργικά συστήματα, κατανεμημένα συστήματα αρχείων, ομότιμα συστήματα, υπηρεσίες ιστού)
</li>
<li>
Αναλύει προβλήματα και μελέτες περιπτώσεων ΚΣ και επιλέγει τις καταλληλότερες τεχνολογίες για την υλοποίησή τους
</li>
<li>
Αξιολογεί τον ρόλο των ασυρμάτων δικτύων στα ΣΔΥ
</li>
<li>
Κατανοεί τις βασικές αρχές και τεχνολογίες ασύρματης δικτύωσης
</li>
<li>
Κατανοεί τις αρχές λειτουργίας κινητών κυψελωτών δικτύων
</li>
<li>
Κατανοεί τις βασικές αρχές αδόμητων ασύρματων δικτύων αισθητήρων
</li>
</ul>
</div>
